.tr {
  -webkit-transition: all 0.25s easse;
  -o-transition: all 0.25s easse;
  transition: all 0.25s easse;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 800px) {
  .header__title {
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages__item {
    width: 45%;
  }
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    width: 100%;
  }
  .problem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .problem__item {
    width: 100%;
    padding-bottom: 30px;
  }
  .problem__item:last-child {
    padding-bottom: 0;
  }
}
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
