.transition {
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  opacity: 1;
}
.heading {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Open Sans Bold", sans-serif;
  padding: 50px 0 70px 0;
}
.heading__title {
  padding: 70px 0;
  line-height: 1.29;
  font-size: 42px;
  max-width: 895px;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.heading__h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  text-align: center;
  font-weight: normal;
  padding-bottom: 40px;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages {
  max-width: 895px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-family: "Open Sans Regular", sans-serif;
}
.advantages__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.advantages__info__h2 {
  opacity: 0.5;
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  width: 100%;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.advantages__info__text {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.advantages__item {
  width: 30%;
  margin-bottom: 40px;
}
.advantages__item__img {
  width: 42px;
  float: left;
  margin-right: 16px;
}
.text-center {
  text-align: center;
}
.button {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  background-color: #fff;
  padding: 9px 69px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #ff2e2f;
  text-decoration: none;
  font-size: 20px;
}
.button__img {
  margin-left: 8px;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #d2d2d2;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.dark {
  background-color: #262626;
  background: url(../img/lines-left.png) repeat-y, #262626 url(../img/lines-right.png) repeat-y 100% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0;
}
.problem {
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  flwx-wrap: wrap;
}
.problem__item {
  width: 35%;
}
.problem__item__link {
  color: #fff;
  text-decoration: none;
  border-bottom: solid 1px rgba(151, 151, 151, 0.5);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
.problem__item__link:hover {
  color: #ff2e2f;
  -webkit-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.problem__item__img {
  width: 56px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 800px) {
  .header__title {
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages__item {
    width: 45%;
  }
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item {
    width: 100%;
  }
  .problem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .problem__item {
    width: 100%;
    padding-bottom: 30px;
  }
  .problem__item:last-child {
    padding-bottom: 0;
  }
}
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
